/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import 'glow.css';
@import url('about.css');
@import url('default.css');
@import url('skills.css');
@import url('services.css');
@import url('projects.css');
@import url('contact.css');
@import url('footer.css');
/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--header-color);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin: 0 10px;
}
.nav__logo span {
  color: var(--first-color);
}

.nav__list {
  display: flex;
  justify-content: end;
}
.nav__link {
  margin: 0 10px;
  color: var(--text-color);
  cursor: pointer;
}
.nav__link:hover {
  color: var(--title-color);
  transition: 0.5s;
}
.active_nav .nav__link {
  color: var(--title-color);
  /* background-color: #006eff; */
}
.hamburger {
  display: none;
}
/* Navigation for mobile devices */
@media screen and (max-width: 500px) {
  .hamburger {
    display: block;
  }
  .hamburger * {
    width: 30px;
    height: 5px;
    background-color: var(--title-color);
    border: 1px solid #006eff;
    border-radius: 50px;
    margin: 5px 5px;
    transition: transform 0.5s, width 0.5s;
  }
  .openHamburger .line1 {
    transform: translate(5px, 10px) rotate(-45deg);
  }
  .openHamburger .line2 {
    width: 0;
    border: 0px;
  }
  .openHamburger .line3 {
    transform: translate(5px, -10px) rotate(45deg);
  }
  .nav__menu {
    height: 0;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    width: 100vw;
    /* Add blur to header */
    background-color: rgba(0, 86, 87, 0.767);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.5s;
    overflow: hidden;
  }
  /* Show menu */
  .nav__menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav__menu.active {
    height: 210px;
  }
  .nav__menu.active ul {
    opacity: 1;
  }
  .nav__menu ul li {
    margin-top: 10px;
  }
}

/* Active link */

/*=============== HOME ===============*/
.home {
  height: 100vh;
  background-color: var(--home-color);
  color: var(--home-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cloud1 {
  position: absolute;
  left: 0vw;
  top: 70px;
}
.cloud2 {
  position: absolute;
  left: 50vw;
  top: 50px;
}
.cloud3 {
  position: absolute;
  left: 80vw;
  top: 30px;
}

.home__container {
  /* padding-top: 2rem; */
  row-gap: 1rem;
}
.home__content {
  display: grid;
  row-gap: 2rem;
}
.home__data {
  text-align: center;
}
.home__subtitle,
.home__education {
  font-size: var(--bigger-font-size);
}
.home__title,
.home__subtitle span {
  color: var(--home-title-color);
}
.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}
.home__description {
  margin: 1rem 1.5rem;
}
.home__social {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
}
.home__social-link {
  display: flex;
  color: var(--title-color);
  background-color: var(--home-text-color);
  font-size: 1.5rem;
  padding: 1rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.4s;
}
.home__social-link:hover {
  transform: translateY(-0.25rem);
}
.home__image {
  justify-self: center;
}
.home__blob {
  margin-top: 1vh;
  width: 280px;
  fill: var(--first-color);
  filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */
@media screen and (min-width: 501px) {
  .nav__menu {
    width: 55%;
  }
  .home {
    display: flex;
    justify-content: center;
  }
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .home__data {
    text-align: left;
  }
  .home__description {
    margin: 0.75rem 0rem;
  }
  .home__social {
    justify-content: flex-start;
  }
}
